:root {
  --sidebar-width: 215px;
  --sidebar-width-collapsed: 85px;

  /* pastel warm theme colors */
  --color-primary: hsl(0, 0%, 64%);
  /* for main backgrounds */
  --color-secondary-1: hsl(48, 85%, 26%);
  /* for highlights and accent elements */
  --color-secondary-2: hsl(34, 10%, 2%);
  /* for text and less dominant elements */
  --color-complementary-1: hsl(202, 65%, 39%);
  /* for complementary highlights */
  --color-complementary-2: hsl(213, 38%, 21%);
  /* for complementary elements */
}

/* CSS Grid */
body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: var(--sidebar-width-collapsed) 130px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "side side header"
    "side side main";
}

.header {
  background-color: var(--color-secondary-1);
  grid-area: header;
  padding-left: 20px;
  padding-top: 10px;
}

.sidebar {
  background-color: var(--color-primary);
  grid-area: side;
}

.main {
  background-color: var(--color-primary);
  grid-area: main;

  padding: 10px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Menu Sidebar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  padding: 10px 15px;
  transition: all 0.4s ease;
}

.sidebar.collapsed {
  width: var(--sidebar-width-collapsed);
}

.sidebar.collapsed .sidebar-header h2 {
  display: none;
}

.sidebar.expanded {
  width: var(--sidebar-width);
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header h2 {
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 15px;
}

.sidebar .sidebar-header img {
  width: 55px;
  height: auto;
}

.sidebar-links h4 {
  font-weight: 700;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 1;
}

.sidebar.collapsed .sidebar-links h4 span {
  opacity: 0;
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #052d0d;
  font-weight: 600;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #dce194;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 15px;
  white-space: nowrap;
  display: none;
}

.sidebar.expanded .user-detail {
  display: block;
}

/* Table Items */
.table-items {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-items th,
.table-items td {
  border: 1px solid #062b15;
  padding: 8px;
}

.table-items th {
  background-color: var(--color-secondary-1);
  color: var(--color-secondary-2);
  text-align: left;
}

.table-items tr {
  text-align: left;
}

.table-items tr:nth-child(odd) {
  background-color: var(--color-primary);
}

.table-items tr:nth-child(even) {
  background-color: #e6e6e6;
}

.table-items th:nth-child(2),
.table-items td:nth-child(2) {
  max-width: 130px;
  word-wrap: break-word;
  white-space: nowrap;
}

.table-items th:nth-child(3),
.table-items td:nth-child(3) {
  width: 100px;
  max-width: 120px;
  word-wrap: break-word;
  white-space: nowrap;
}

.table-items th:nth-child(4),
.table-items td:nth-child(4) {
  width: 100px;
  max-width: 120px;
  word-wrap: break-word;
  white-space: nowrap;
}

.table-items th:nth-child(5),
.table-items td:nth-child(5) {
  width: 100px;
  max-width: 150px;
  word-wrap: break-word;
  white-space: nowrap;
}

.table-items th:nth-child(6),
.table-items td:nth-child(6) {
  max-width: 160px;
  word-wrap: break-word;
  white-space: nowrap;
}

#container-search {
  background-color: var(--color-primary);
  padding: 10px;
}

#searchForm {
  display: flex;
  align-items: center;
}

.form-group {
  display: flex;

  margin-top: 10px;
  margin-right: 10px;
}

#searchForm .form-group label {
  margin-right: 5px;
}

#searchForm button {
  margin-left: auto;
}

.form-group label {
  font-weight: 600;
  margin-top: 5px;
  margin-right: 5px;
}

input[type="text"],
input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: var(--color-secondary-1);
  color: var(--color-secondary-2);
  font-weight: 600;
  border: none;

  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;

  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: var(--color-complementary-2);
  color: var(--color-primary);
}


@media (max-width: 970px) {
  body {
    grid-template-columns: 80px 1fr;
    grid-template-areas:
      "side header"
      "side main";
  }

  .main {
    background-color: var(--color-complementary-1);
  }

  .sidebar {
    width: 85px;
  }

  .sidebar .sidebar-header h2,
  .sidebar .sidebar-links h4 span,
  .sidebar .user-detail {
    display: none;
  }
}